.uabb-givewp-forms {
	.uabb-blog-posts {
		.uabb-button-wrap {
			padding-top: 0 !important;
		}

		.uabb-post-thumbnail img {
			border-width: 5px;
			// @media only screen and (min-width: 992px) {
			//     border-width: 10px !important;
			// }
			border-style: solid;
			border-color: $color--secondary;
		}

		@media only screen and (min-width: 769px) {
			h4 {
				min-height: 75px;
			}
		}

	}
}
