.elimu-img {
	.uabb-gallery-grid2 {
		overflow: visible;

		.uabb-photo-gallery-item {
			position: relative;
			// z-index: 2;
		}
    }
    
    .uabb-team-image img {
        border-width: 5px;
        @media only screen and (min-width: 992px) {
            border-width: 10px;
        }
        border-style: solid;
    }

	&.primary {
        .uabb-photo-gallery-item {
            box-shadow: 0px 0px 0px 5px $color--primary;
            @media only screen and (min-width: 992px) {
                box-shadow: 0px 0px 0px 10px $color--primary;
            }
        }
        .uabb-team-image img {
            border-color: $color--primary;
        }
    }

	&.secondary {
        .uabb-photo-gallery-item {
            box-shadow: 0px 0px 0px 5px $color--secondary;
            @media only screen and (min-width: 992px) {
                box-shadow: 0px 0px 0px 10px $color--secondary;
            }
        }
        .uabb-team-image img {
            border-color: $color--secondary;
        }
    }

	&.tertiary {
        .uabb-photo-gallery-item {
            box-shadow: 0px 0px 0px 5px $color--tertiary;
            @media only screen and (min-width: 992px) {
                box-shadow: 0px 0px 0px 10px $color--tertiary;
            }
        }
        .uabb-team-image img {
            border-color: $color--tertiary;
        }
    }

	&.quaternary {
        .uabb-photo-gallery-item {
            box-shadow: 0px 0px 0px 5px $color--quaternary;
            @media only screen and (min-width: 992px) {
                box-shadow: 0px 0px 0px 10px $color--quaternary;
            }
        }
        .uabb-team-image img {
            border-color: $color--quaternary;
        }
    }

}

.img-overhang {
    .fl-photo-content {
        z-index: 1;
    }
}

// Header fixes
#primary-menu {
    .ast-masthead-custom-menu-items {
        @media only screen and (max-width: 921px) {
            .menu-link {
                color: #4e4132;
                background-color: $color--primary;
                text-align: center;
            }
        }
    }
}
.main-header-bar .main-header-bar-navigation.toggle-on {
    padding-top: 0 !important;
}