
/*-----------------------------------------------------------------------------------

    helpers.css

-----------------------------------------------------------------------------------*/
.color--primary {
	color: $color--primary !important;
}

.color--primary-bg {
	background-color: $color--primary !important;
}

.color--white {
	color: #FFF !important;
}

.uppercase, .uppercase .fl-heading { text-transform: uppercase !important; }

.lowercase, .lowercase .fl-heading { text-transform: lowercase !important; }

.capitalize { text-transform: capitalize !important; }

.nott { text-transform: none !important; }

.tright { text-align: right !important; }

.tleft { text-align: left !important; }

.fright { float: right !important; }

.fleft { float: left !important; }

.fnone { float: none !important; }

.ohidden {
	position: relative;
	overflow: hidden !important;
}

.disabled {
	opacity: 0.30;
	cursor: not-allowed;
}
.line,
.double-line {
	clear: both;
	position: relative;
	width: 100%;
	margin: 60px 0;
	border-top: 1px solid #EEE;
}

.line.line-sm { margin: 30px 0; }

span.middot {
	display: inline-block;
	margin: 0 5px;
}

.double-line { border-top: 3px double #E5E5E5; }

.emptydiv {
	display: block !important;
	position: relative !important;
}

.allmargin { margin: 50px !important; }
.leftmargin { margin-left: 50px !important; }
.rightmargin { margin-right: 50px !important; }
.topmargin { margin-top: 50px !important; }
.bottommargin { margin-bottom: 50px !important; }

.clear-bottommargin { margin-bottom: -50px !important; }

.allmargin-xs { margin: 15px !important; }
.leftmargin-xs { margin-left: 15px !important; }
.rightmargin-xs { margin-right: 15px !important; }
.topmargin-xs { margin-top: 15px !important; }
.bottommargin-xs { margin-bottom: 15px !important; }

.clear-bottommargin-xs { margin-bottom: -15px !important; }

.allmargin-sm { margin: 30px !important; }
.leftmargin-sm { margin-left: 30px !important; }
.rightmargin-sm { margin-right: 30px !important; }
.topmargin-sm { margin-top: 30px !important; }
.bottommargin-sm { margin-bottom: 30px !important; }

.clear-bottommargin-sm { margin-bottom: -30px !important; }

.allmargin-lg { margin: 80px !important; }
.leftmargin-lg { margin-left: 80px !important; }
.rightmargin-lg { margin-right: 80px !important; }
.topmargin-lg { margin-top: 80px !important; }
.bottommargin-lg { margin-bottom: 80px !important; }

.clear-bottommargin-lg { margin-bottom: -80px !important; }

.nomargin {margin: 0 !important; }
.noleftmargin { margin-left: 0 !important; }
.norightmargin { margin-right: 0 !important; }
.notopmargin { margin-top: 0 !important; }
.nobottommargin { margin-bottom: 0 !important; }

.header-stick { margin-top: -50px !important; }

.content-wrap .header-stick { margin-top: -80px !important; }

.footer-stick { margin-bottom: -50px !important; }

.content-wrap .footer-stick { margin-bottom: -80px !important; }

.noborder { border: none !important; }

.noleftborder { border-left: none !important; }

.norightborder { border-right: none !important; }

.notopborder { border-top: none !important; }

.nobottomborder { border-bottom: none !important; }

.noradius { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; -ms-border-radius: 0 !important; -o-border-radius: 0 !important; border-radius: 0 !important; }

.col-padding { padding: 60px; }

.nopadding { padding: 0 !important; }

.noleftpadding { padding-left: 0 !important; }

.norightpadding { padding-right: 0 !important; }

.notoppadding { padding-top: 0 !important; }

.nobottompadding { padding-bottom: 0 !important; }

.noabsolute { position: relative !important; }

.noshadow { box-shadow: none !important; }

.hidden { display: none !important; }

.nothidden { display: block !important; }

.inline-block {
	float: none !important;
	display: inline-block !important;
}

.center { text-align: center !important; }

.divcenter {
	position: relative !important;
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.bgcolor,
.bgcolor #header-wrap { background-color: #1ABC9C !important; }

.color { color: #1ABC9C !important; }

.border-color { border-color: #1ABC9C !important; }

.nobg { background: none !important; }

.nobgcolor { background-color: transparent !important; }

.t300 { font-weight: 300 !important; }

.t400 { font-weight: 400 !important; }

.t500 { font-weight: 500 !important; }

.t600 { font-weight: 600 !important; }

.t700 { font-weight: 700 !important; }

.ls0 { letter-spacing: 0px !important; }

.ls1 { letter-spacing: 1px !important; }

.ls2 { letter-spacing: 2px !important; }

.ls3 { letter-spacing: 3px !important; }

.ls4 { letter-spacing: 4px !important; }

.ls5 { letter-spacing: 5px !important; }

.noheight { height: 0 !important; }

.nolineheight { line-height: 0 !important; }

.font-body { font-family: 'Lato', sans-serif; }

.font-primary { font-family: 'Raleway', sans-serif; }

.font-secondary { font-family: 'Crete Round', serif; }

.bgicon {
	display: block;
	position: absolute;
	bottom: -60px;
	right: -50px;
	font-size: 210px;
	color: rgba(0,0,0,0.1);
}

.imagescale {
	display: block;
	overflow: hidden;
}

.imagescale img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.imagescale:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.grayscale {
	filter: brightness(80%) grayscale(1) contrast(90%);
	-webkit-filter: brightness(80%) grayscale(1) contrast(90%);
	-moz-filter: brightness(80%) grayscale(1) contrast(90%);
	-o-filter: brightness(80%) grayscale(1) contrast(90%);
	-ms-filter: brightness(80%) grayscale(1) contrast(90%);
	transition: 1s filter ease;
	-webkit-transition: 1s -webkit-filter ease;
	-moz-transition: 1s -moz-filter ease;
	-ms-transition: 1s -ms-filter ease;
	-o-transition: 1s -o-filter ease;
}

.grayscale:hover {
	filter: brightness(100%) grayscale(0);
	-webkit-filter: brightness(100%) grayscale(0);
	-moz-filter: brightness(100%) grayscale(0);
	-o-filter: brightness(100%) grayscale(0);
	-ms-filter: brightness(100%) grayscale(0);
}

.textshadow-white-sm {
	text-shadow: 1px 1px 0px #fff;
}

.textshadow-white-lg {
	text-shadow: 2px 2px 0px #fff;
}

.textshadow-black-sm {
	text-shadow: 1px 1px 0px #000;
}

.textshadow-black-lg {
	text-shadow: 2px 2px 0px #000;
}

/* Semi-transparent images */
.opacity-50 img {
	opacity: .5;
}

.opacity-60 img {
	opacity: .6;
}

.opacity-70 img {
	opacity: .7;
}

.remove-p-margin {
    p {
        margin-bottom: 0 !important;
    }
}

.remove-last-p-margin {
    > .fl-module-content {
        > .fl-rich-text {
            p:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
}

.zindex--1 {
    z-index: -1 !important;
}

.zindex-0 {
    z-index: 0 !important;
}

.zindex-1 {
    z-index: 1 !important;
}