body.home {
    @media screen and (max-width: 768px) {
        .elimu-gradient-row {
            .fl-row-content-wrap {
                background-image: none;
                background-color: $color--primary;
            }
        }
    }    
}
.news {
    .uabb-blog-posts-grid {
        .uabb-post-thumbnail {
            img {
                border-radius: 10px;
            }
        }
    }
}