// Impact Page
#core-principles {
	@media only screen and (min-width: 992px) and (max-width: 1200px) {
		.fl-heading {
			font-size: 30px !important;
		}
	}

	@media only screen and (min-width: 1200px) and (max-width: 1400px) {
		.fl-heading {
			font-size: 40px !important;
		}
	}

}

.advocate-popup {
	.scriptlesssocialsharing {

		.button {
			margin-right: 15px;

			@media only screen and (max-width: 550px) {
				display: block;
				text-align: center;
				margin-bottom: 15px;
			}

		}

	}
}
