body.woocommerce-page {

	&.single-product {
		background-color: #FFF;
	}

	.elimu-related {
		.woocommerce-loop-product__title {
			font-size: 28px !important;
		}
	}

	.elimu-collections {
		li.product {
			.uabb-category__title-wrap {
				position: relative;
				top: auto;
				left: auto;
				right: auto;
				bottom: auto;
				background-color: transparent;
			}

			.woocommerce-loop-category__title {
				position: relative;
				background-color: transparent;
				font-size: 28px;
				top: auto;
				left: auto;
				right: auto;
				bottom: auto;
				padding: 0;
			}

			.uabb-count {
				display: none;
			}
		}
    }
    
    .elimu-featured {
        .woocommerce-loop-product__title {
            font-size: 22px !important;
        }
    }

    .fl-module-content-slider {
        @media (max-width: 768px) {
            .fl-slide-cta-button {
                padding-top: 0;
                .fl-button-wrap {
                    text-align: center;
                }
            }
        }
        
    }

    @media (max-width: 768px) {
        .uabb-woo-categories .uabb-woo-cat__column-mobile-1 li.product {
            width: 100% !important;
            text-align: center;
        }        
    }
    @media (max-width: 768px) and (min-width: 545px) {
        .uabb-woo-categories .uabb-woo-cat__column-tablet-3 li.product {
            width: 100% !important;
        }
    }

    .uabb-woo-products-grid .uabb-woo-product__column-tablet-3 ul.products li.product {
        width: 31.2%;
        width: calc(33.33% - 14px);
    }

	&.woocommerce-checkout {
		table.shop_table td {
			padding: 14px 10px 14px 0;
		}

		.no-intl-shipping {
			margin-bottom: 0;
		}
	}

}
