/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */
 $c1: #dedede;
 $c2: #292929;
 $w: #ffffff;
 $b: #000000;
 $gb: #686868;
 $g: #35ad68;
 $y: #FFFDD2;
 /* ----------------------------------------------------------------------------
  * Color Variants
  * ------------------------------------------------------------------------- */
 
 $color--primary: #FFBF7F;
 $color--primary--hover: rgba(255, 191, 127, .8);

 $color--secondary: #F3968A;
 $color--secondary--hover: rgba(243, 150, 138, .8);

 $color--tertiary: #A7DDDE;
 $color--tertiary--hover: rgba(167, 221, 222, .8);

 $color--quaternary: #89CD9C;
 $color--quaternary--hover: rgba(137, 205, 156, .8);

 $on-dark-bg: #14151a;
 
 $radio-fill-color: $color--primary !default;
 $radio-empty-color: #5a5a5a !default;
 $radio-border: 2px solid $radio-fill-color !default;
 $input-disabled-color: rgba(0, 0, 0, .42) !default;
 $input-disabled-solid-color: #949494 !default;
